body {
    margin: 0;
    overflow: hidden;
}

#navbar {
    height: 50px;
    width: 100%;
    background-image: url("../assets/navbar.png");
    /*background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;*/
    background-size: 100% 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

#canvas-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}

canvas {
    display: block;
}